html {
	font-family: sans-serif;
	font-size: 16px;
}
body {
	max-width: 1200px;
	margin: 0 auto 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
#calender {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	border-left: 1px solid;
	border-top: 1px solid;
	color: #d7d7d7;
}
#calender span {
	width: .55rem;
	height: .55rem;
	border-bottom: 1px solid;
	border-right: 1px solid;
}
#calender .black {
	background-color: black;
	color: #414141;
	border-color: transparent;
}
#calender .red {
	background-color: red;
	color: #e10000;
	border-color: transparent;
}
#calender .blue {
	background-color: blue;
	color: #0000b9;
	border-color: transparent;
}
#calender .darkblue {
	background-color: darkblue;
	color: #0000af;
	border-color: transparent;
}
.symbol {
	margin-right: 1.5rem;
}
.symbol:before {
	content: "";
	width: 1rem;
	height: 1rem;
	display: inline-block;
	margin-right: .5rem;
	vertical-align: text-top;
}
.symbol.black:before {
	background-color: black;
}
.symbol.red:before {
	background-color: red;
}
.symbol.blue:before {
	background-color: blue;
}
.symbol.darkblue:before {
	background-color: darkblue;
}
.hidden {
	display: none;
}

@media screen and (max-width: 425px) {
	#calender span {
		width: .15rem;
		width: 1.25vw;
		height: .15rem;
		height: 1.25vw;
	}
}
@media screen and (max-width: 768px) {
	.symbol {
		display: block;
	}
}
@media screen and (max-width: 1024px) {
	#calender span {
		width: .25rem;
		width: 1vw;
		height: .25rem;
		height: 1vw;
	}
}
